:root {
  --primary: #d1d1d1;
  --secondary: #000000;
  --tertiary: #dfdfdf;
  --white: #ffffff;
  --white-with-opacity: rgba(255, 255, 255, 0.2);
  --gradient: linear-gradient(135deg, hsla(183, 56%, 42%, 1) 0%, hsla(189, 68%, 41%, 1) 67%);
  --primary-focus-color: #2fa0a5;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary);
}



/*CUSTOM STYLES */

/* SPACING
================
 */

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 12px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.p-1  {
  padding: 4px;
}

.p-2  {
  padding: 8px;
}

.p-3  {
  padding: 12px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* flex classes
====================
*/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start{
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}


/* heights and width
======================
*/


.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-400 {
  width: 400px;
}

.w-25 {
  width: 25%;
}

.h-screen {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}


/* typography
================
*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.text-xl {
  font-size: 18px;
}

.text-2xl {
  font-size: 24px;
}

/* color palette
================
*/
.bg-white {
  background-color: var(--white);
}

.bg-primary {
  background-color: var(--primary);
}


/*
card design
==============
 */

.card {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 0 0 1px;
  background-color: var(--white-with-opacity);
  color: var(--secondary);
  padding: 2rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-header p {
  margin-top: 0;
  margin-bottom: 0;
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
}

.card-description {
  font-size: 0.875rem;
}


.card-footer {
  display: flex;
  align-items: center;
}

button {
  border: none !important;
}

.card-footer-span {
  text-decoration: none;
  color: var(--primary-focus-color);
}